.social-footer {
    width: 244px;
    margin-top: 26px;

   &>.social-footer__encourage {
        font-size: 14px;
        color: $main-white;
    }
}

@media (min-width: $break-point-min) and (max-width: $break-point-tel) {
    .social-footer {
        text-align: center;        
    }
}